/** Notifications **/
.alert {
    z-index: 9999;
    position: fixed;
    bottom: -10px;
    left: 5px;
}
.alert-dismissible .close {
    padding: 4px 15px;
}

/** Form errors **/
.help-block-error {
    font-size: 12px;
    color: orangered;
}
